<h1>Registrar</h1>

<form action="/register" method="POST">
  <input type="email" name="email" placeholder="Email" />
  <input type="password" name="senha" placeholder="Senha" />
  <button type="submit">Cadastrar</button>
</form>

<a href="/login">Voltar ao login</a>
